/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&family=Inter:wght@300;400;600;700&family=Manrope:wght@300;400;600;700&display=swap");

/* Import Tailwind */
@import "tailwindcss";

/* Custom Global Styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: "Work Sans", sans-serif; /* Default Font */
}
